Repository kaderisasiceohmsd/testbuting1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NobelNizam, @ketua2, @ketua3, @ketua4, @ketua5, @ketua6, @ketua7, @ketua8, @ketua9, @ketua10

.github/CODEOWNERS:

/kelompok-1-Tensor/     @NobelNizam
/kelompok-2-Poisson/    @ketua2
/kelompok-3-Markov/     @ketua3
/kelompok-4-Anova/      @ketua4
/kelompok-5-Pandas/     @ketua5
/kelompok-6-Jordan/     @ketua6
/kelompok-7-Jacobi/     @ketua7
/kelompok-8-Greedy/     @ketua8
/kelompok-9-Cosval/     @ketua9
/kelompok-10-Bayessian/ @ketua10

readme test
  README.md
Owners: none

update requirements txt
  kelompok-1-Tensor/requirements.txt
Owners: @NobelNizam

update all requirements txt
  kelompok-10-Bayessian/requirements.txt
  kelompok-2-Poisson/requirements.txt
  kelompok-3-Markov/requirements.txt
  kelompok-4-Anova/requirements.txt
  kelompok-5-Pandas/requirements.txt
  kelompok-6-Jordan/requirements.txt
  kelompok-7-Jacobi/requirements.txt
  kelompok-8-Greedy/requirements.txt
  kelompok-9-Cosval/requirements.txt
Owners: @ketua10, @ketua2, @ketua3, @ketua4, @ketua5, @ketua6, @ketua7, @ketua8, @ketua9

Markov Base Code
  kelompok-3-Markov/.devcontainer/devcontainer.json
  kelompok-3-Markov/.streamlit/config.toml
  kelompok-3-Markov/Buku Kating/001_Eksanty Febriana.py
  kelompok-3-Markov/Buku Kating/014_Deva Anjani Khayyuninafsyah.py
  kelompok-3-Markov/Buku Kating/016_Kemas Veriandra Ramadhan.py
  kelompok-3-Markov/Buku Kating/020_Try Yani Rizki Nur Rohmah.py
  kelompok-3-Markov/Buku Kating/083_Randa Andriana Putra.py
  kelompok-3-Markov/Buku Kating/103_Rut Junita Sari Siburian.py
  kelompok-3-Markov/Buku Kating/117_Anwar Muslim.py
  kelompok-3-Markov/Halaman Utama/halaman_utama.py
  kelompok-3-Markov/README.md
  kelompok-3-Markov/main.py
  kelompok-3-Markov/requirements.txt
  kelompok-3-Markov/tools/KREASI.py
  kelompok-3-Markov/tools/KREASII.py
Owners: @ketua3

update from admin for readme markov
  kelompok-3-Markov/README.md
Owners: @ketua3

haikal
  kelompok-3-Markov/Halaman Utama/halaman_utama.py
Owners: @ketua3
